<h1>My Account<h1>
<div id="account">
	<p><b>Email:</b>
  		<%= @user.email %>
	</p>

<div id="password">
<%= link_to "Change Password", '#', :class => "password" %>
<div>
</div>
<di id="hide">
<h2>Change account details</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div id="email" class="edField"><%= f.label :email, :class => "edField1" %><br />
  <%= f.email_field :email, :autofocus => true, :class => "edField2" %> <a href="#" class="email">edit</a></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="edField"><%= f.label :password, :class => "edField1" %> <i class="edField1">(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off", :class => "edField2" %></div>

  <div class="edField"><%= f.label :password_confirmation, :class => "edField1" %><br />
  <%= f.password_field :password_confirmation, :class => "edField2" %></div>


  <div><%= f.submit "Update", :class => "log" %></div>
<% end %>

<br />

<h2>Cancel my account</h2>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :class => "log3" , :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>

	
</div>


