<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <fieldset>
<legend><h2>Edit User Details</h2></legend>
  

  <div class="edField"><%= f.label :email, :class => "edField1" %><br />
  <div class="edField2"><%= @user.email %></div></div>
  
    <div class="edField"><%= f.label :firstname, :class => "edField1" %>
  	<div class="edField2"><%= f.text_field :firstname, :class => "edField2", :autofocus => true %></div></div>
  	
    <div class="edField"><%= f.label :surname, :class => "edField1" %>
  	<div class="edField2"><%= f.text_field :surname, :class => "edField2" %></div></div>
  	
  	<div class="edField"><%= f.label :phone_no, :class => "edField1" %>
  	<div class="edField2"><%= f.text_field :phone, :class => "edField2" %></div></div>
  	
  	<div class="edField"><%= f.label :aims_no, :class => "edField1" %>
  	<div class="edField2"><%= f.text_field :aimsno, :class => "edField2" %></div></div>
 	
 	<% if current_user.admin? %>
 	<div class="edField"><%= f.label :admin, :class => "edField1" %> <%= f.check_box :admin,  :class => "edField2"%></div>
 	<% end %>
  
 <div id="password">
	<%= link_to 'Change Password', '#', :class => 'password' %>
 </div>

  <div id="hide"><div class="edField"><%= f.label :password, :class => "edField1" %> <i class="edField1">(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off", :class => "edField2" %></div>

  <div class="edField"><%= f.label :password_confirmation, :class => "edField1" %><br />
  <%= f.password_field :password_confirmation, :class => "edField2" %></div>
  </div>
  
  <div class="actions">
    <%= f.submit :class => "log3 log3width spaceAdd" %>
  </div>
<% end %>