 <%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 
  
   <fieldset>
<legend><h2>Edit Password</h2></legend>
  
  <div class="edField"><%= f.label :password, :class => "edField1" %> <i class="edField1">(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off", :class => "edField2" %></div>

  <div class="edField"><%= f.label :password_confirmation, :class => "edField1" %><br />
  <%= f.password_field :password_confirmation, :class => "edField2" %></div>

  <div class="edField"><%= f.label :current_password, :class => "edField1" %> <i class="edField1">(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password, :class => "edField2" %></div>
  
  <div class="actions">
    <%= f.submit :class => "log3 log3width spaceAdd" %>
  </div>
<% end %>