<div id="">
<p>
  <b>Name:</b>
  <%= @user.firstname + " " + @user.surname %>
</p>
<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Aims no:</b>
  <%= @user.aimsno %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>