<h2>My Account<h2>
<div id="account">
	<p><b>Email:</b>
  		<%= @user.email %>
	</p>
		<p><b>Aims No:</b>
  		<%= @user.aims_no %>
	</p>



<div id="password">
<%= link_to "Change account details", '#', :class => "password" %>
</div>

<di id="hide">
<h2>Change account details</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div id="email" class="edField"><%= f.label :email, :class => "edField1" %><br />
  <%= f.email_field :email, :autofocus => true, :class => "edField2" %> <a href="#" class="email">edit</a></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>


  <div><%= f.submit "Update", :class => "log" %></div>
<% end %>


</div>

<br />

<div>
	<h2>Cancel my account</h2>

	<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :class => "log3" , 
	:data => { :confirm => "Are you sure?" }, :method => :delete %></p>


</div>
<p class="link"><span><%= link_to "Back", :back %></span></p>



